.tan {
  
  position:absolute;
  top:;
  left:;
  width:1260;
  height:200;


}




.po {
  width:100;
  height:200;
}
.one {
  position:absolute;
  top:220;
  left:100;
  width:210;
  height:;
}



.on {
  position:absolute;
  top:220;
  left:370;
  width:250;
  height:200;
}

.free {
  position:absolute;
  top:220;
  left:640;
  width:250;
  height:200;
}
.two {
  position:absolute;
  top:220;
  left:910;
  width:250;
  height:200;
}

.tw {
  position:absolute;
  top:1000;
  left:100;
  width:250;
  height:200;
}

.t {
  position:absolute;
  top:500;
  left:370;
  width:250;
  height:200;
}

.to {
  position:absolute;
  top:500;
  left:640;
  width:250;
  height:200;
}


.fre {
  position:absolute;
  top:1000;
  left:910;
  width:250;
  height:200;
}
.onee {
  position:absolute;
  top:110;
  left:108;
  width:230;
  height:;
}



.vas {
  position:absolute;
  top:;
  left:;
  width:1255;
  height:30;
}

.va {
  position:absolute;
  top:1000;
  left:;
  width:1255;
  height:100;
}



.v {
  position:absolute;
  top:1000;
  left:50;
  width:1265;
  height:100;
  color:white;
}

.q {
  position:absolute;
  top:400;
  left:380;
  width:230;
  height:;
}

.qw {
  position:absolute;
  top:400;
  left:650;
  width:230;
  height:;
}
.qwe {
  position:absolute;
  top:400;
  left:930;
  width:230;
  height:;
}
.wirn {
   position:absolute;
   top:-10;
   left:;
   color:white;
}
.w {
   position:absolute;
   top:13;
   left:235;
   
}

.qq {
  position:absolute;
  top:430;
  left:380;
  width:230;
  height:;
}

.foq {
  position:absolute;
  top:430;
  left:108;
  width:230;
  height:;
}

.qqq {
  position:absolute;
  top:450;
  left:380;
  width:230;
  height:;
}
.fo {
  position:absolute;
  top:400;
  left:108;
  width:230;
  height:;
}

.foqq {
  position:absolute;
  top:450;
  left:108;
  width:230;
  height:;
}

.text {
  position:absolute;
  top:700;
  left:108;
  width:;
  height:;
}
.wq {
  position:absolute;
  top:1040;
  left:108;
  width:;
  height:;
}

.wqq {
  position:absolute;
  top:1060;
  left:108;
  width:;
  height:;
}

.wqqq {
  position:absolute;
  top:1000;
  left:108;
  width:;
  height:;
}

.container {
 width: 200%
}


@media (max-width:768px) {
.tan {
  
  position:absolute;
  top:;
  left:;
  width:760;
  height:150;


}



.q {
  position:absolute;
  top:370;
  left:450;
  width:;
  height:;
}
.on {
  position:absolute;
  top:180;
  left:450;
  width:;
  height:200;
}
.text {
  position:absolute;
  top:850;
  left:60;
  width:650;
  height:;
}
.qqq {
  position:absolute;
  top:420;
  left:450;
  width:230;
  height:;
}
.qq {
  position:absolute;
  top:400;
  left:450;
  width:230;
  height:;
}
.two {
  position:absolute;
  top:550;
  left:450;
  width:250;
  height:200;
}
.one {
  position:absolute;
  top:180;
  left:60;
  width:250;
  height:200;
}
.fo {
  position:absolute;
  top:370;
  left:60;
  width:230;
  height:;
}
.foq {
  position:absolute;
  top:400;
  left:60;
  width:230;
  height:;
}
.foqq {
  position:absolute;
  top:420;
  left:60;
  width:230;
  height:;
}
.qw {
  position:absolute;
  top:750;
  left:450;
  width:230;
  height:;
}
.qwe {
  position:absolute;
  top:750;
  left:60;
  width:230;
  height:;
}
.free {
  position:absolute;
  top:550;
  left:60;
  width:250;
  height:200;
}
.wq {
  position:absolute;
  top:990;
  left:60;
  width:;
  height:;
}

.wqq {
  position:absolute;
  top:1010;
  left:60;
  width:;
  height:;
}

.wqqq {
  position:absolute;
  top:950;
  left:60;
  width:;
  height:;
}
.vas {
  position:absolute;
  top:;
  left:;
  width:760;
  height:30;
}
.va {
  position:absolute;
  top:1100;
  left:;
  width:760;
  height:200;
}
.po {
  width:100;
  height:10;
}
}
@media (max-width:700px) {
.tan {
  
  position:absolute;
  top:30;
  left:;
  width:370;
  height:60;


}



.q {
  position:absolute;
  top:570;
  left:60;
  width:230;
  height:;
}
.on {
  position:absolute;
  top:380;
  left:60;
  width:250;
  height:200;
}
.text {
  position:absolute;
  top:1200;
  left:60;
  width:250;
  height:;
}
.qqq {
  position:absolute;
  top:620;
  left:60;
  width:230;
  height:;
}
.qq {
  position:absolute;
  top:600;
  left:60;
  width:230;
  height:;
}
.two {
  position:absolute;
  top:700;
  left:60;
  width:250;
  height:200;
}
.one {
  position:absolute;
  top:100;
  left:60;
  width:250;
  height:200;
}
.fo {
  position:absolute;
  top:280;
  left:60;
  width:230;
  height:;
}
.foq {
  position:absolute;
  top:310;
  left:60;
  width:230;
  height:;
}
.foqq {
  position:absolute;
  top:330;
  left:60;
  width:230;
  height:;
}
.qw {
  position:absolute;
  top:900;
  left:60;
  width:230;
  height:;
}
.qwe {
  position:absolute;
  top:1150;
  left:60;
  width:230;
  height:;
}
.free {
  position:absolute;
  top:950;
  left:60;
  width:250;
  height:200;
}
.wq {
  position:absolute;
  top:1490;
  left:60;
  width:;
  height:;
}

.wqq {
  position:absolute;
  top:1510;
  left:60;
  width:;
  height:;
}

.wqqq {
  position:absolute;
  top:1450;
  left:60;
  width:;
  height:;
}
.vas {
  position:absolute;
  top:;
  left:;
  width:370;
  height:30;
}
.va {
  position:absolute;
  top:1600;
  left:;
  width:370;
  height:200;
}
.po {
  width:100;
  height:200;
}
}



